h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Establecer el concepto creativo de la campaña teniendo en cuenta el brief.
           



