.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 20%
    top: 20%
    left: -10%

  &-2
    animation: float2 4.5s ease-in-out infinite alternate
    position: absolute
    width: 20%
    top: 70%
    left: 0%
  
  &-3
    animation: float3 4.5s ease-in-out infinite alternate
    position: absolute
    width: 20%
    top: 20%
    right: 0%


@keyframes float1
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)

@keyframes float3
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)


.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    padding-right: 0 !important;
    width: 30%;
    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: $color-sistema-texto !important  

.titulo-principal__numero
    background-color: $color-secundario  !important


.bg1
  background-color: #AEE6E6
  border-radius: 15px
  height: 150px !important
.bg2
  background-color: #CBC5E0
  border-radius: 15px
.bg3
  background-color: $color-secundario
.bg4
  background-color: $color-acento-botones
.title-card
  text-align: center
  padding: 3px 50px 
  font-weight: bold
  width: fit-content;
  margin: 0 auto !important;

.h-card
  height: 550px

/*Custom components*/
.cajon.color-secundario 
    background-color: #E7F8F8;
.bloque-texto-b.color-terciario 
    background-color:  #EBE9F4 !important
.bloque-texto-b i 
    color: $color-secundario !important;

.fa-check-circle.color-primario
  color: $color-secundario !important
.mb-cus-2
    margin-bottom: 2em  !important  
/*Media Queries*/  
//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .h-card, .bg1
    height: auto
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .h-card, .bg1
    height: auto
  
//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  
  .mb-cus
    margin-bottom: 2em  !important
  .h-card, .bg1
    height: auto